.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block; }

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block; }

.header-set-1128 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); }
  .header-set-1128 ul, .header-set-1128 ol {
    list-style: none;
    padding: 0;
    margin: 0; }
  .header-set-1128 .logo {
    max-width: 150px;
    margin-right: 2rem; }
  .header-set-1128 .col-left {
    display: flex;
    align-items: center; }
  .header-set-1128 .menu li {
    display: inline-block; }
    .header-set-1128 .menu li a {
      padding: 10px; }
  .header-set-1128 .wallet-wrap li {
    display: inline-block;
    padding: 0 10px; }
    .header-set-1128 .wallet-wrap li:first-child {
      border-right: 1px solid #000; }

.header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }

@media all and (max-width: 768px) {
  .header-row {
    padding: 1rem; }
    .header-row .menu {
      display: none; } }
@media all and (max-width: 480px) {
  .header-set-1128 .logo {
    margin-right: 1rem; } }
.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block; }

.footer-set-1128 {
  background-color: #282828;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #fff; }

.main-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem; }

.loginwrap {
  max-width: 600px;
  margin: 50px auto;
  text-align: center; }
  .loginwrap .login-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem; }

.upload {
  display: inline-block;
  border: 2px dashed #666666;
  border-radius: 0.25rem;
  position: relative; }
  .upload .holder {
    padding: 1rem;
    text-align: center;
    max-width: 300px; }
  .upload #imgPreview {
    margin-bottom: 1rem; }
  .upload #imgPreview[src='#'] {
    display: none; }
  .upload .imgtype {
    margin-bottom: 1rem; }
  .upload input[type="file"] {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer; }

.custom-radio-group {
  margin-bottom: 1rem; }
