.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block; }

.grid-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .grid-wrap img {
    width: 100%; }

.grid-3 .grid-col {
  flex: calc(100% / 3);
  max-width: calc(100% / 3);
  border: 1px solid #fff; }

.userimg {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  max-width: 250px;
  max-height: 250px;
  background-color: #fff;
  border-radius: 15px; }
  .userimg .browse {
    position: absolute;
    opacity: 0; }

.editimg {
  position: absolute;
  right: 1rem;
  overflow: hidden;
  top: 1rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 9; }
  .editimg img {
    max-width: 30px;
    vertical-align: middle; }
  .editimg .browse {
    position: absolute;
    opacity: 0; }

.user-wrap {
  position: relative;
  z-index: 1; }
  .user-wrap .user-img {
    position: absolute;
    bottom: -100px;
    left: 0;
    margin: 0 auto;
    text-align: center;
    right: 0; }
    .user-wrap .user-img > img {
      border-radius: 15px; }
    .user-wrap .user-img .previewimg {
      border-radius: 15px; }

.user-info {
  text-align: center;
  max-width: 533px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 151px;
  padding-bottom: 40px; }
  .user-info .user-name {
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 9px; }
  .user-info .user-copy {
    font-size: 1.125rem;
    margin-bottom: 9px; }
    .user-info .user-copy i {
      font-weight: 400; }
  .user-info .user-desc {
    font-size: 1.5rem; }

.btn-groups .btn {
  font-size: 1.5rem; }
  .btn-groups .btn:not(:last-child) {
    margin-right: 32px; }

.social-list {
  margin-top: 26px;
  margin-bottom: 51px; }
  .social-list a {
    font-size: 2.5rem;
    color: #fff; }
    .social-list a:hover {
      opacity: 0.6; }
    .social-list a:not(:last-child) {
      margin-right: 59px; }

.main-title {
  text-align: center;
  background: gray;
  margin: 0;
  padding: 10px;
  color: #FFF;
  font-weight: bold; }

.grid {
  margin: 2rem auto; }
  .grid-item {
    width: 440px;
    height: auto;
    margin-bottom: 32px; }
    .grid-item img {
      width: 100%;
      height: 100%; }

.user-wrapd {
  position: relative; }

.bgwraps {
  background-color: #000;
  color: #fff;
  position: relative; }

@media all and (max-width: 768px) {
  .grid-3 .grid-col {
    flex: calc(100% / 2);
    max-width: calc(100% / 2); }

  .userimg {
    width: 200px;
    height: 200px; }

  .editimg img {
    width: 25px; }

  .btn-groups .btn:not(:last-child) {
    margin-right: 1rem; } }
@media all and (max-width: 480px) {
  .grid-item {
    width: 300px; }

  .grid-3 .grid-col {
    flex: 0 0 100%;
    max-width: 100%; }

  .userimg {
    width: 150px;
    height: 150px; }

  .editimg img {
    width: 18px; } }
